df
/* Color Palette */


/*
#07275C
#FFD900
#018EA0
#333
#FFF
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width: 479px) {
   #rivages{ display: none !important; }
}

#rivages {
    margin-left: 1%;
    margin-top: 5%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 200px;
    width: 190px;
    height: 85%;
    background-image: url('../img/bgs/gg.jpg');
    background-repeat: repeat-y;
    background-position: left;
    background-attachment: fixed;
    background-size: 200px 100%;
    /*z-index:100000000000000;*/
}


/* Font Face */

@font-face {
    font-family: 'IconicStroke';
    src: url('http://www.onextrapixel.com/examples/html5-css3-contact-form/font/iconic_stroke-webfont.eot');
    src: url('http://www.onextrapixel.com/examples/html5-css3-contact-form/font/iconic_stroke-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.onextrapixel.com/examples/html5-css3-contact-form/font/iconic_stroke-webfont.woff') format('woff'), url('http://www.onextrapixel.com/examples/html5-css3-contact-form/font/iconic_stroke-webfont.ttf') format('truetype'), url('http://www.onextrapixel.com/examples/html5-css3-contact-form/font/iconic_stroke-webfont.svg#IconicStrokeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "photographs";
    src: url("../fonts/photographs/photographs.ttf");
}


/* Modals */

.modal {
    z-index: 10000!important;
    overflow-x: hidden;
}

.modal-action:hover, .modal-action:active {
    color: #343434;
}


/* Center block class */

.center-block {
    display: block !important;
    margin: auto !important;
}


/* Navbar */

nav {
    background-color: #FFF;
    box-shadow: none;
}

nav a {
    outline: none;
}


/* Mobile menu */

#mobile_menu {
    z-index: 10000000000000;
}

.side-nav .submenu {
    padding-left: 40px;
}


/* Mobile menu button */

a[data-activates="mobile_menu"] {
    position: fixed;
    right: 0;
}

nav a[data-activates="mobile_menu"] {
    position: fixed;
}

nav div>a .fa {
    font-size: 30px;
}


/* Liens */

nav a, nav a:hover, nav a:active, nav ul a, .side-nav a {
    color: #07275C;
}


/* Dropdowns */

.dropdown-content li>a, .dropdown-content li>span {
    color: #07275C;
}


/* Buttons */

.btn, .side-nav a.btn, .btn:hover, .side-nav a.btn:hover, .btn:active, .side-nav a.btn:active {
    background-color: #FFD900;
    color: #333;
}


/* Logo */

nav>div>a.brand-logo>img {
    height: 100%;
    margin: 0 5px;
}


/* Full width container */

.container.full {
    width: 100%;
    max-width: initial;
    overflow-x: hidden;
}


/********/


/* Home */


/********/

#home h1, #home h2, #home h3, #home h4, #home h5, #home h6, #home p {
    text-align: center;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    outline: none;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    cursor: pointer;
}

h1 {
    font-family: 'photographs', Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 0;
    /*margin: 20px 0 60px 0;*/
    position: relative;
    top: 0;
    border: 4px solid #018EA0;
    background-color: #018EA0;
    border: 4px solid #018EA0;
    color: black;
    text-shadow: 2px 1px 0px solid black;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 30%;
    margin-right: 30%;
}

h1:before {
    position: absolute;
    top: 60px;
    content: ' ';
    text-align: center;
    display: block;
    height: 2px;
    width: 100%;
    /* FF3.6+ */
}


/* Carousel */

.carousel-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .carousel-item img {
    width: 50%;
    height: auto;
}

.carousel .indicators {
    display: none;
}

.carousel .slideContainer {
    height: 100%;
}

.carousel .slideContainerCenter {
    display: inline-block;
    margin: auto;
    text-shadow: 0 0 2px black;
    color: white;
    font-size: 2.5em;
}


/**************/


/* Historique */


/**************/

#historic ul {
    margin-left: 25px;
    margin-bottom: 50px;
}

#historic ul li {
    list-style: circle;
}

#historicContainer .content, #historicContainer .year {
    position: relative;
}

#historicContainer .content {
    padding: 40px 0 40px 0;
}

#historicContainer .content div:first-child {
    position: absolute;
    top: 0;
    left: -25px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #FFD900;
    z-index: 1;
}

#historicContainer .content div:nth-child(2) {
    position: absolute;
    top: 15px;
    left: -18px;
    position: absolute;
    width: 2px;
    height: 102%;
    background-color: #018EA0;
}

#historicContainer .year p {
    margin-top: -3px;
    text-align: center;
}

#historicContainer p {
    margin: 0;
    padding: 0;
}

@media all and(max-width: 992px) {
    #historicContainer .s2 {
        margin: 0;
        padding: 0;
        width: 30px;
    }
    #historicContainer .year p {
        position: absolute;
        top: 0;
        right: -200px;
        width: 200px;
        text-align: left;
    }
}


/**********/


/* Equipe */


/**********/

#equipe h1, #equipe h2, #equipe h3, #equipe h4, #equipe h5, #equipe h6, #equipe p {
    text-align: center;
}

#equipe h6 {
    position: relative;
    margin: 0;
    padding: 10px 5px;
    border: 1px solid white;
    bottom: -2px;
    background-color: grey;
    color: #FFF;
}

#equipe img {
    width: 100%;
    height: 270px;
}

#equipe p {
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#equipe .direction {
    background-color: #333;
    color: #FFF;
}

#equipe .administration {
    background-color: #07275C;
    color: #FFF;
}

#equipe .insertion {
    background-color: #018EA0;
    color: #FFF;
}

#equipe .technique {
    background-color: #FFD900;
    color: #000;
}

.member div {
    position: relative;
    display: inline-block;
    height: 270px;
    width: 100%;
    border: 1px solid transparent;
    overflow: hidden;
}

.member i {
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.member .editMember {
    right: 35px;
}

.member .deleteMember {
    right: 5px;
}


/***********/


/* Contact */


/***********/

.pagecontact {
    display: flex;
}

.pagecontact iframe {
    width: 100%;
}

#content {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 5%;
    width: 40%;
    min-height: 200px;
    z-index: 100;
    padding: 40px;
    border: 1px solid #383838;
    /* My stipped background */
    background: #D1D1D1;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(-45deg, #07275C, #07275C 30px, #FFD900 30px, #FFD900 40px, #018EA0 40px, #018EA0 70px, #FFD900 70px, #FFD900 80px);
    /* FF3.6+ */
    /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(135deg, #07275C, #07275C 30px, #FFD900 30px, #FFD900 40px, #018EA0 40px, #018EA0 70px, #FFD900 70px, #FFD900 80px);
    background: repeating-linear-gradient(-45deg, #07275C, #07275C 30px, #FFD900 30px, #FFD900 40px, #018EA0 40px, #018EA0 70px, #FFD900 70px, #FFD900 80px);
    /* FF3.6+ */
    /*border-radius*/
    border-radius: 8px;
    /*box-shadow*/
    box-shadow: 0px 1px 6px #3F3F3F;
}

#content:after {
    background: #F9F9F9;
    margin: 10px;
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border: 1px #E5E5E5 solid;
    /*border-radius*/
    border-radius: 8px;
}

#envoie {
    margin-top: 50px;
    text-align: center;
}

.googlemap {
    margin-bottom: 80px;
    margin-left: 130px;
    width: 40%;
    margin-right: 60px;
    margin-top: 80px;
}

.contactinfo h5 {
    margin-bottom: 5%;
}

.contactinfo {
    margin-top: 5%;
    border: 2px solid black;
    padding: 3%;
}


/***************/


/** CANDIDATE **/


/***************/


/*#candidate*/


/* Footer */

footer.page-footer i {
    cursor: pointer;
}

footer.page-footer {
    background-color: #DDD;
    text-align: center;
    z-index: 100000000000000;
    position: relative;
}

footer.page-footer .delSponsor {
    position: absolute;
    top: 5px;
    right: 5px;
}

footer.page-footer img {
    margin: 5px;
    height: 75px;
}

footer.page-footer .fa {
    font-size: 50px;
}

footer.page-footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.1);
}

footer.page-footer .footer-copyright, footer.page-footer .footer-copyright a:not([href="http://boulogne.simplon.co/"]) {
    color: #000;
}

footer.page-footer .footer-copyright .row {
    margin-bottom: 0;
}

footer.page-footer .sponsor {
    position: relative;
    display: inline-block;
}


/* Edit carousel */

.editRight {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 20px;
}

.editRight i {
    cursor: pointer;
}

.progr {
    width: 100%;
    height: 30px;
}


/* Nav carousel */

.carousel .navCar {
    position: absolute;
    top: calc(50% - 30px);
    cursor: pointer;
    z-index: 1;
}

#slideNext {
    right: 70px;
}

#slidePreview {
    left: 70px;
}


/* MSG FLASH */

#msgFlash {
    position: fixed;
    top: 150px;
    width: 100%;
    text-align: center;
    z-index: 1000000000;
    display: none;
}

#msgFlash div {
    padding: 15px 60px 15px 60px;
    display: inline-block;
    background-color: #018EA0;
    color: white;
    border-radius: 8px;
    font-size: 1.5em;
}


/* Editor */

.btnTextAdmin i, .btnHistoricTextAdmin i {
    display: none;
}


/* Admin Bar */

#adminBar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#adminBar a {
    outline: none;
}

#adminBar span {
    color: black;
    display: block;
    transition: opacity 0.3s;
    opacity: 0.5;
}

#adminBar span:hover {
    opacity: 1;
}

#adminBar svg {
    padding: 3px 9px 0 0;
}


/* Admin config */

.configColor {
    color: #555;
    padding-bottom: 20px!important;
}


/* Admin users */

#users li i {
    vertical-align: -8px;
    cursor: pointer;
}


/* Admin historic */

.deleteHistoric {
    cursor: pointer;
}

#gallery .dir {
    position: relative;
}

#gallery .placeHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#gallery .placeHolder div {
    margin: auto;
    color: white;
    text-shadow: 0 0 2px black;
}


/* THOMAS */


/*-------------Accompagnement------------------*/

#imgRdv {
    float: left;
    height: auto;
    width: 40%;
    margin: 0 10px;
}

#accompagnement div p {
    text-align: justify;
}

#accompagnement h1 {
    color: white;
}

#imgchantier {
    display: block;
    float: right;
    height: auto;
    width: 40%;
    margin: 0 10px;
}

.one p, .one h4 {
    text-align: right !important;
}

/*------------------historique-----------------*/
#historic h1{
  color: white;
}

/*---------------------equipe------------------*/
#equipe h1{
  color: white;
}

/*-----------------environnement--------------*/

#environnement div img {
    height: auto;
    width: 100%;
}

#environnement h1 {
    background-color: teal;
    border: 4px solid teal;
    color: white;
    text-shadow: 2px 1px 0px solid black;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 30%;
    margin-right: 30%;
}


/*-------------------Bâtiment-------------------*/

#batiment div img {
    height: auto;
    width: 100%;
}

#batiment h1 {
    color: white;
}


/*------------------Mobilité-douce---------------------*/

#mobilite-douce div img {
    height: auto;
    width: 100%;
}
