/* Color Palette */
/*
#07275C
#FFD900
#018EA0
#333
#FFF
*/

/* Navbar */
nav {
    background-color: #FFF;
    box-shadow: none;
}

/* Mobile menu */
.side-nav .submenu {
    padding-left: 40px;
}

/* Mobile menu button */
a[data-activates="mobile_menu"] {
    position: fixed;
    right: 0;
}

nav a[data-activates="mobile_menu"] {
    position: fixed;
}
nav div > a .fa {
    font-size: 30px;
}

/* Liens */
nav a,
nav ul a,
.side-nav a {
    color: #07275C;
}

/* Dropdowns */
.dropdown-content li>a,
.dropdown-content li>span {
    color: #07275C;
}

/* Buttons */
.btn,
.side-nav a.btn {
    background-color: #FFD900;
    color: #333;
}

.btn:hover,
.side-nav a.btn:hover {
    background-color: #FFD900;
}

/* Logo */
nav > div > a.brand-logo > img {
    height: 100%;
    margin: 0 5px;
}

/* Full width container */
.container.full {
    width: 100%;
    max-width: initial;
}

/* Carousel */
.carousel-item {
    background-position: center center;
    background-size: cover;
}

/* Footer */
footer.page-footer {
    background-color: #07275C;
    text-align: center;
}

footer.page-footer .fa {
    font-size: 50px;
}

footer.page-footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.1);
    height: auto;
    padding-top: 30px;
}

@media all and (min-width: 600px) {
    footer.page-footer .footer-copyright {
        height: 30px;
    }
}
