/*-------------Accompagnement------------------*/

#imgRdv {
    float: left;
    height: auto;
    width: 40%;
    margin: 0 10px;
}

#accompagnement div p {
    text-align: justify;
}

#imgchantier {
    display: block;
    float: right;
    height: auto;
    width: 40%;
    margin: 0 10px;
}

.one p, .one h4 {
    text-align: right !important;
}


/*-----------------environnement--------------*/
#environnement div img {
    height: auto;
    width: 100%;
}


/*-------------------Bâtiment-------------------*/

#batiment div img {
    height: auto;
    width: 100%;
}

/*------------------Mobilité-douce---------------------*/

#mobilite-douce div img {
    height: auto;
    width: 100%;
}
