Options +FollowSymlinks
RewriteEngine on
RewriteRule ^form-([a-zA-Z\-]+)$ index.php?page=$1&noData=true
RewriteRule ^([a-zA-Z\-]+)$ index.php?page=$1
RewriteRule ^([a-zA-Z\-]+)-id-([0-9]+)$ index.php?page=$1&id=$2
